name: Benchmark

on: [push, pull_request]

jobs:
  tests:
    name: Benchmark PHP Routing ${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        php: [7.1, 7.2, 7.3, 7.4]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Install dependencies with Composer
        uses: ramsey/composer-install@v1

      - name: Run phpbench
        run: vendor/bin/phpbench run --report=aggregate

      - name: Quick Benchmark
        run: php scripts/quick-benchmark.php
